@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60, 7%, 95%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    /* colour palette for component statuses: level 6 + 7 values from https://hypejunction.github.io/color-wizard/ */
    --status-yellow-6: 39, 80%, 50%;
    --status-yellow-7: 39, 80%, 41%;
    --status-teal-6: 162, 80%, 50%;
    --status-teal-7: 162, 80%, 41%;
    --status-cyan-6: 188, 80%, 50%;
    --status-cyan-7: 188, 80%, 41%;
    --status-blue-6: 208, 80%, 50%;
    --status-blue-7: 208, 80%, 41%;
    --status-indigo-6: 255, 80%, 50%;
    --status-indigo-7: 230, 80%, 41%;
    --status-green-6: 131, 80%, 50%;
    --status-green-7: 131, 80%, 41%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  * {
    @apply border-border;
  }

  h1 {
    @apply scroll-m-8 text-2xl font-extrabold tracking-tight lg:text-4xl;
  }

  h2 {
    @apply scroll-m-8 border-b pb-2 text-xl font-semibold tracking-tight first:mt-0 lg:text-3xl;
  }

  h3 {
    @apply scroll-m-8 text-lg font-bold tracking-tight lg:text-2xl;
  }

  p {
    @apply lg:text-lg;
  }

  a {
    @apply hover:underline hover:underline-offset-4;
  }

  td {
    @apply lg:text-lg;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .ready-for-production {
    @apply bg-[hsl(var(--status-yellow-6))] !important;
    &:hover {
      @apply bg-[hsl(var(--status-yellow-7))] !important;
    }
  }

  .manufactured {
    @apply bg-[hsl(var(--status-teal-6))] !important;
    &:hover {
      @apply bg-[hsl(var(--status-teal-7))] !important;
    }
  }

  .in-transit {
    @apply bg-[hsl(var(--status-cyan-6))] !important;
    &:hover {
      @apply bg-[hsl(var(--status-cyan-7))] !important;
    }
  }

  .received-on-site {
    @apply bg-[hsl(var(--status-blue-6))] !important;
    &:hover {
      @apply bg-[hsl(var(--status-blue-7))] !important;
    }
  }

  .installed {
    @apply bg-[hsl(var(--status-indigo-6))] !important;
    &:hover {
      @apply bg-[hsl(var(--status-indigo-7))] !important;
    }
  }

  .in-use {
    @apply bg-[hsl(var(--status-green-6))] !important;
    &:hover {
      @apply bg-[hsl(var(--status-green-7))] !important;
    }
  }
}
